{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {pgo, "~> 0.20"},
    {telemetry, "~> 1.0"},
    {seki, "~> 0.4"}
]}.

{project_plugins, [
    erlfmt,
    rebar3_ex_doc,
    rebar3_lint,
    rebar3_hank,
    {rebar3_audit, {git, "https://github.com/Taure/rebar3_audit.git", {branch, "main"}}},
    {rebar3_sbom,
        {git, "https://github.com/Taure/rebar3_sbom.git", {branch, "feat/include-otp-components"}}},
    covertool
]}.

{hex, [{doc, ex_doc}]}.

{erlfmt, [write]}.

{dialyzer, [
    {warnings, [error_handling, unmatched_returns, unknown]},
    {plt_apps, all_deps}
]}.

{xref_checks, [undefined_function_calls, undefined_functions]}.

{ct_opts, [
    {dir, "test"}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, nowarn_export_all]},
        {deps, []}
    ]}
]}.

{cover_enabled, true}.

{hank, [{ignore, ["src/shigoto_worker.erl", "src/shigoto_middleware.erl"]}]}.

{ex_doc, [
    {extras, [
        <<"README.md">>,
        <<"guides/getting-started.md">>,
        <<"guides/workers.md">>,
        <<"guides/cron.md">>,
        <<"guides/batches.md">>,
        <<"guides/dependencies.md">>,
        <<"guides/middleware.md">>,
        <<"guides/fanout-queues.md">>,
        <<"guides/resilience.md">>,
        <<"guides/encryption.md">>,
        <<"guides/testing.md">>
    ]},
    {main, <<"readme">>},
    {proglang, erlang},
    {source_url, <<"https://github.com/Taure/shigoto">>},
    {groups_for_extras, [
        {<<"Guides">>, [
            <<"guides/getting-started.md">>,
            <<"guides/workers.md">>,
            <<"guides/cron.md">>,
            <<"guides/batches.md">>,
            <<"guides/dependencies.md">>,
            <<"guides/middleware.md">>,
            <<"guides/fanout-queues.md">>,
            <<"guides/resilience.md">>,
            <<"guides/encryption.md">>,
            <<"guides/testing.md">>
        ]}
    ]}
]}.
